body {
  display: grid;
  place-items: center;
}

.marquee {
  width: 200px;
  height: 150px;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid red;
}

.marquee span {
  display: block;
  font-size: 26px;
  padding: 50px 100px;
  animation: marquee 10s linear infinite;
}

/* Make it move */
@keyframes marquee {
  0%   { transform: translate(0, 0); }
  20% { transform: translate(0, -100%); }
  40% { transform: translate(0, -200%); }
  60% { transform: translate(0, -300%); }
  80% { transform: translate(0, -400%); }
  100% { transform: translate(0, -500%); }
}

